html,
body {
    max-height: 100%;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.sections {
    width: 100vw;
    height: 100vh;
}

.sectionOne {
    top: 0;
    display: flex;
    align-content: center;
    position: absolute;
    justify-content: center;
}

# background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(img/poster.png) no-repeat;
    background-size: cover;
}

.textovervideo {
    z-index: 21;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.overlay {
    background-color: rgba(30, 30, 32, 0.87);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.textovervideo ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    border-color: white;
    border-radius: 2px;
    border-style: solid;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 2em;
}

.textovervideo ul li {
    padding: auto;
    margin-right: 3em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .textovervideo ul {
        font-size: 2em;
        position: relative;
    }
    .textovervideo ul li {
        margin-right: 1em;
    }
}